/* Hawtbrowser: custom style sheet to make Firefox look similar
 * to Qutebrowser, by Ian LeCorbeau. This is meant to be used with
 * the Vimium-ff add-on.
 *
 * Extra credits to MyOtherGuy and lr-tech.
 * */

:root {
	--uc-bottom-toolbar-height: 20px !important;	/* Height of tool bar/url bar */
	--tab-block-margin: 0 !important;
	--tab-border-radius: 0 !important;
	--tab-min-height: 20px !important;		/* Height of tab bar */
}

#browser,
#customization-container {
	margin-bottom: var(--uc-bottom-toolbar-height,0px)
}

/* Nav bar */

/*Hidden content */
#navigator-toolbox #list-all-tabs-button,
#navigator-toolbox .list-all-tabs-button,
#navigator-toolbox #list-tabs-buttons,
#navigator-toolbox .list-tabs-buttons,
#navigator-toolbox #tabs-newtab-button,
#navigator-toolbox .tabs-newtab-button,
#navigator-toolbox #toolbar-menubar,
#navigator-toolbox #home-button,
#navigator-toolbox #reload-button,
#navigator-toolbox #back-button,
#navigator-toolbox #forward-button,
#navigator-toolbox .tab-close-button,
#navigator-toolbox #pageActionSeparator,
#navigator-toolbox #pageActionButton {
	display: none !important;
}

/* Nav bar */

#navigator-toolbox {
	border: 0px !important;
	max-height: 20px !important;
}

#nav-bar {
	background: none !important;
	box-shadow: none !important;
	position: fixed !important;
	bottom: 0px !important;
	display: -webkit-box;
	height: var(--uc-bottom-toolbar-height) !important;
	width: 100% !important;
	z-index: 1;
}

#nav-bar .toolbarbutton-icon {
	width: 20px !important;
	padding-left: 2px !important;
	padding-right: 2px !important;
	margin: -5px 0px 0px 0px !important;
}

#nav-bar .toolbarbutton-badge {
	margin-inline-end: 0 !important;
	padding: 0px 1px 1px 0px !important;
	min-width: 6px !important;
}

#nav-bar-overflow-button {
	margin: 3px 0px 0px !important;
	min-height: 25px !important;
	padding: 0px 0px 5px 0px !important;
}

#PanelUI-button {
	display: block !important;
	margin: 0px 0px 0px 0px !important;
	border-left: none !important;
}

#PanelUI-menu-button {
	padding-left: 0 !important;
	padding-right: 1px !important;
}

#nav-bar-customization-target {
	-webkit-box-flex: 5;
}

/* Tabs */

.tabbrowser-tab {
	border: none !important;
	height: var(--tab-min-height) !important;
	font-size: 15px !important;
}

.tabbrowser-tab[selected] {
	border: none !important;
	height: var(--tab-min-height) !important;
	font-size: 12px !important;
	background-color: #242424 !important;
}

.tabbrowser-tab[fadein]:not([pinned]) {
	max-width: 100vw !important;
	padding-left: 0 !important;
	padding-inline: 0px !important;
}

.tabbrowser-tab::after {
	visibility: hidden !important;
}

.tab-line[selected="true"] {
	height: 0px !important;
}

.tab-background[selected] {
	background-image: none !important;
}

.tabbrowser-tab:not([selected]) {
	font-size: 12px !important;
	color: #eeeeee !important; /* Change this to a dark color if using a light theme */
	background-color: #323232 !important; /* Might want to disable that if not using FF's dark theme */
}

.tab-icon-image {
	width: 12px !important;
	height: 12px !important;
}

.tab:not([selected]) .tab-icon-image {
       width: 12px !important;       
       height: 12px !important;
}

/* Url bar */

toolbox toolbarspring {
	-moz-box-flex: 0 !important;
}

#urlbar {
	min-height: var(--uc-bottom-toolbar-height) !important;
	font-size: 12px !important;
	margin-left: 0px !important;
}

#urlbar-background {
	border: none !important;
	box-shadow: none !important
}

#urlbar[breakout][breakout-extend] {
	display: flex !important;
	flex-direction: column-reverse;
	bottom: 12px !important;
	top: auto !important;
}

.urlbarView-body-inner {
	border-top-style: none !important;
}

#urlbar:not(:hover):not([breakout][breakout-extend]) > #urlbar-background {
	box-shadow: none !important;
	background: none !important;
}

#tracking-protection-icon-container {
	padding: 2px 0px 2px 0px !important;
	margin: 1px 0px 1px 0px !important;
}

#identity-box {
	padding: 2px 0px 2px 0px !important;
	margin: 1px 0px 1px 0px !important;
}

/* Hiding some url bar elements when not active. Credits to lr-tech on Github */

.urlbar-icon, #userContext-indicator, #userContext-label {
	fill: transparent !important;
	background: transparent !important;
	color: transparent !important;
}

#urlbar:hover .urlbar-icon,
#urlbar:active .urlbar-icon,
#urlbar[focused] .urlbar-icon {
	fill: transparent !important;
}

